<%-include("Partials/header")-%>

<h1>Compose</h1>

<form class="" action="/Compose" method="post">

  <div class="form-group">
    <label for="InputTitle">Title</label>
    <input class="form-control" type="text" name="PostTitle" id="InputTitle" value="">
  </div>

  <div class="form-group">
    <label for="titleEntry">Post</label>
    <textarea class="form-control" type="text" name="PostBody" id="titleEntry" value="" rows="5" cols="30" ></textarea>
  </div>


  <button class="btn btn-primary" type="submit" name="button">Publish</button>

</form>


<%-include("Partials/footer")-%>
