<%-include("Partials/header")-%>

<h1>Compose</h1>

<form class="" action="/Compose" method="post">

  <input type="text" name="entry" value="">
  <button type="submit" name="button">Publish</button>

</form>


<%-include("Partials/footer")-%>
